In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library
import matplotlib as mpl
import matplotlib.pyplot as plt

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

# !conda install -c conda-forge folium=0.5.0 --yes
import folium

#! conda install -c conda-forge ipywidgets --yes

import ipywidgets as widgets
print('Folium installed and imported!')

Folium installed and imported!

In [16]:
# @hidden_cell
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20200501'
LIMIT = 30
# print('Your credentails:')
# print('CLIENT_ID: ' + CLIENT_ID)
# print('CLIENT_SECRET:' + CLIENT_SECRET)

In [ ]:
# Delhi latitude and longitude values
 
# latitude=28.7041
# longitude=77.1025

# delhi_map=folium.Map(location=[latitude, longitude], zoom_start=10)
# delhi_map

In [3]:
delhi_district_file_path='./delhi_District.csv'
delhi_district=pd.read_csv(delhi_district_file_path,sep=';')

In [4]:
delhi_district

,S.No.,State Code,State Name (In English),District Code,District Version,District Name (In English),District Name(In Local),Census 2001 Code,Census 2011 Code
0,1,7,DELHI,77,1,CENTRAL,CENTRAL,6.0,95
1,2,7,DELHI,78,2,EAST,EAST,4.0,93
2,3,7,DELHI,79,1,NEW DELHI,NEW DELHI,5.0,94
3,4,7,DELHI,80,1,NORTH,NORTH,2.0,91
4,5,7,DELHI,81,2,NORTH EAST,NORTH EAST,3.0,92
5,6,7,DELHI,82,1,NORTH WEST,NORTH WEST,1.0,90
6,7,7,DELHI,671,1,SHAHDARA,SHAHDARA,NaN,0
7,8,7,DELHI,83,2,SOUTH,SOUTH,9.0,98
8,9,7,DELHI,670,1,South East,SOUTH EAST,NaN,0
9,10,7,DELHI,84,1,SOUTH WEST,SOUTH WEST,8.0,97
10,11,7,DELHI,85,1,WEST,WEST,7.0,96

In [5]:
delhi_district=delhi_district[['District Code','District Name (In English)']]
delhi_district

    District Code District Name (In English)
0              77                    CENTRAL
1              78                       EAST
2              79                  NEW DELHI
3              80                      NORTH
4              81                 NORTH EAST
5              82                 NORTH WEST
6             671                   SHAHDARA
7              83                      SOUTH
8             670                 South East
9              84                 SOUTH WEST
10             85                       WEST

In [6]:
delhi_district.rename(inplace=True, columns={'District Code':'Code','District Name (In English)':'Name' })
delhi_district.is_copy=False
delhi_district.columns

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5191: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5192: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

Index(['Code', 'Name'], dtype='object')

In [12]:
from IPython.display import clear_output
caption=widgets.Label(value='Not selected yet')
ALL='ALL'
def unique_sorted_values_ALL(array):
    unique=array.unique().tolist()
    unique.sort()
    unique.insert(0,ALL)
    return unique
x='JAMES'
def onchange(d):
    #clear_output(wait=False)
    #print ('%s' % d['new'] )
    dir(d)
    #print('Selection changed event fired.')

district=widgets.Dropdown(
    options=delhi_district.Name,
    description='District:'
)
widgets.link((district,'value'),(caption,'value')) 
district.observe(onchange)
display(district, caption)

Dropdown(description='District:', options=('CENTRAL', 'EAST', 'NEW DELHI', 'NORTH', 'NORTH EAST', 'NORTH WEST'â€¦

Label(value='CENTRAL')

In [ ]:
vars(district);
district.value